<h1>Movies and celebrities lab</h1>
<hr>
<a href="/celebrities/create">|| Add new celebrity |</a>
<a href="/celebrities/">| List of celebrities |</a>
<a href="/movies/create">| Add new movie |</a>
<a href="/movies/">| List of movies |</a>
